body {
  font-family: Arial, sans-serif;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #c8f2a5;
  /* Can't round border edges */
  /* border-radius: 50px; */
  /* Soft shadow */
  box-shadow: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#save {
  margin: 10px;
  background-color: #997337;
  color: white;
  border: none;
  padding: 5px;
  /* makes the cursor a pointer when hovered over the button */
  cursor: pointer;
  border-radius: 10%;
}

.minus-btn {

  background-color: #c8f2a5;
  display: inline-block;
  cursor: pointer;
  border: 0;
  margin-right: 5px;
}

/* Removes white border for minus-button */
button {
  all: unset;
}
