:root {
  --background-color: #282828;
  /* black */
  --text-color: #fabd2f;
  /* yellow */
  --darker-yellow: #d79921;
  /* darker yellow */
  --another-color: #8ec07c;
  /* green */
  --red-color: #cc241d;
  /* red */
  --brighter-red: #fb4934;
  /* brighter red */
}

body {
  font-family: Arial, sans-serif;
  width: 250px;
  height: auto;
  padding: 10px;
  background-color: var(--background-color);
  /* Can't round border edges */
  /* border-radius: 50px; */
  /* Soft shadow */
  box-shadow: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#save {
  margin: 10px;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  padding: 5px;
  /* makes the cursor a pointer when hovered over the button */
  cursor: pointer;
  border-radius: 10%;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

#save:hover {
  background-color: var(--darker-yellow);
}

.save-active {
  background-color: var(--another-color);
}

.minus-btn {

  background-color: var(--background-color);
  /* inline-block will create extra space at the bottom */
  display: block;
  cursor: pointer;
  border: 0;
  margin-right: 5px;
}

/* Removes white border for minus-button */
button {
  all: unset;
}


.container {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.entryarea {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

}

input {
  /* position: absolute; */
  width: 100%;
  outline: none;
  font-size: 1.2em;
  /* padding: (top-bottom left-right) */
  padding: 8px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  /* white */
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
  color: var(--text-color);
}

.labelline {
  position: absolute;
  font-size: 1.2em;
  color: var(--text-color);
  padding: 0px;
  margin: 0 10px;
  background-color: var(--background-color);
  transition: 0.2s ease;
}

input:focus {
  color: var(--another-color);
  border: 3px solid;
}

input:focus+.labelline {
  color: var(--another-color);
  height: 15px;
  line-height: 15px;
  padding: 0 10px;
  transform: translate(-10px, -19px) scale(0.88);
  z-index: 1111;
}

/* Remove the up and down arrows in input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* This is for after the input is filled, the labelline should not return to the original position */
input:not(:placeholder-shown)+.labelline {
  transform: translate(-10px, -19px) scale(0.88);
  padding: 0 10px;
  background-color: var(--background-color);
  z-index: 1111;
}


h3 {
  color: var(--brighter-red);
}

/* For each li in ul  */
.limit-lists {
  color: var(--brighter-red);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
